body {
    background-image: url(estudando-programacao3.jpg);
}
h1, p {
    margin-left: 40px;
}

header, main{
    color: darkgrey;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.image-container img {
    width: 200px; /* Ajuste o tamanho das imagens */
    margin-bottom: 20px; /* Espaçamento entre as imagens */
    border: 2px solid white; /* Adiciona uma borda branca */
    border-radius: 15px;
    padding: 10px; /* Adiciona um preenchimento interno */
    margin-right: 30px;
  
}
