*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container{
    width: 400px;
    height: 600px;
    border: 10px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden; /* Impede o estouro de conteúdo */
}
.divPai{
   
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.divs{
    border: 3px solid orangered;
    width: 80%;
    height: 60px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    color: aliceblue;
    background-color: black;
    overflow: hidden; /* Impede o estouro de conteúdo */
    transition: height 0.3s; /* Adicione uma transição suave para a altura */
    


}

.btn_lixeiras{
    width: 24px;
    height: 24px;
    cursor: pointer;
    
}
