
#exemplo{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #CCC;
}
.verde{
    background-color: chartreuse;
 

}

.vermelho{
    background-color: crimson;

}

.azul{
    background-color: darkcyan;

}